<div class="container">
  <% @entries.each do |entry| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to entry.title, entry %> - <i> content: <%= entry.content %> </i>
      </div>
    </div>
  <% end %>
</div>
