<h1><%= @user.full_name %></h1>

<p><strong>Admin:</string> <%=@user.admin? %></p>

<% if current_user.id == @user.id %>
    <%= link_to 'Edit My Profile', edit_user_path(current_user), class: 'btn btn-primary' %>
<% end %>
