<h1>Account Details</h1>

<p>
  <strong>Full Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Account Type:</strong>
  <%= @user.account_type %>
</p>

<% if current_user.id == @user.id %>
    <%= link_to 'Edit Account Details', edit_user_path(current_user), class: 'btn btn-primary' %>
<% end %>
