<h1><%= @user.full_name %> Account Details</h1>

<p>
  <strong>Admin:</strong>
  <%=@user.admin?%>
</p>

<% if current_user.id == @user.id %>
    <%= link_to 'Edit Account Details', edit_user_path(current_user), class: 'btn btn-primary' %>
<% end %>
