<div id="<%= dom_id order %>">
  <p>
    <strong>First name:</strong>
    <%= order.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= order.last_name %>
  </p>

  <p>
    <strong>Sub total:</strong>
    <%= order.sub_total %>
  </p>

</div>
