<div id="<%= dom_id product_category %>">
  <p>
    <strong>ID:</strong>
    <%= product_category.id %>
  </p>
  <p>
    <strong>Product ID:</strong>
    <%= product_category.product_id %>
  </p>
  <p>
    <strong>Category ID:</strong>
    <%= product_category.category_id %>
  </p>
</div>
